*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main{
    display: grid;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    padding: 10px;
    background-color: aqua;
    position: absolute;
    top: 20%;
    left: 35%;
    row-gap: 10px;
}

#outputDisplay{
    grid-column-start: 1;
    grid-column-end: 6;
    width: 320px;   
}

.buttonsArea{
    width: 100%;
    gap: 10px;
    font-size: larger;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item{
    border: 2px solid red;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    margin-bottom: 0px;
}

.grid-item-display{
    border: 2px solid red;
    border-radius: 5px;
    height: 55px;
    align-items: end;
}

.grid-item-plus{
    border: 2px solid red;
    border-radius: 5px;
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.grid-item-equal{
    border: 2px solid red;
    border-radius: 5px;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 6; 
}